{%- from "macros.html" import book_card, set_card, book_list_to_string with context -%}
{% extends "app_layout.html" %}

{% block body %}
<div class="grid-container">

    {% if books_reading|length %}
    <h1>You are currently reading {{ book_list_to_string(books_reading)|trim }}.</h1>
    {% else %}
    <h1>You're not reading any books right now.</h1>
    {% endif %}

    <div class="grid-33">
        <h2><small>Books you're</small><br>Excited<br><small>about&hellip;</small></h2>
        <hr>
        {% for book in books_excited %}
            {{ book_card(book) }}
        {% endfor %}
    </div>

    <div class="grid-33">
        <h2><small>Recently</small><br>Added<br><small>books&hellip;</small></h2>
        <hr>
        {% for book in current_user.books[:4] %}
            {{ book_card(book) }}
        {% endfor %}
    </div>

    <div class="grid-33">
        <h2><small>Some</small><br>Sets<br><small>you've created&hellip;</small></h2>
        <hr>
        {% for set in current_user.get_sets()[:8] %}
            {{ set_card(set) }}
        {% endfor %}
    </div>

</div>
{% endblock %}
