{%- from "macros.html" import nav_link with context -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1;"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/unsemantic.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bookends.css') }}" />
    </head>
    <body>
        <div id="navigation" class="grid-20">
            <p id="branding-text">{ Bookends }</p>
            <ul id="nav">
                {{ nav_link('index', 'Home') }}
                {{ nav_link('add_book', 'Add a book') }}
                {{ nav_link('books', 'Browse books') }}
                {{ nav_link('sets', 'Browse sets') }}
                {{ nav_link('account_email', 'Account', account=True) }}
            </ul>
        </div>
        <div id="content-area" class="grid-80">
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
