{% extends "home_layout.html" %}

{% block body %}
<header>

    {% for message in get_flashed_messages() %}<p class="message">{{ message }}</p>{% endfor %}
    <div class="grid-parent">
        <div class="grid-70">
            <h1>Start using { Bookends } to manage your reading list.</h1>
        </div>

        <div class="grid-30">
            <a href="{{ url_for('create_account') }}">
            <div id="register-button">
                <span id="reg-text">Register now!</span><br>
                <span id="trial-text">100% free!</span><br>
                <span id="no-card-text">Click for super fun time</span>
            </div>
            </a>
        </div>
    </div>

</header>

<hr>

    <div class="grid-parent" id="features">

        <div class="grid-33">
            <h2>Personal</h2>
            <p>Mark books you're excited about, are currently reading, and books you've finished.</p>
        </div>

        <div class="grid-33">
            <h2>Organized</h2>
            <p>Group related books into sets to help you track topics and series.</p>
        </div>

        <div class="grid-33">
            <h2>Simple</h2>
            <p>Bookends doesn't try to solve all of your problems. It simply organizes the books you want to read.</p>
        </div>
    </div>

    <div class="grid-100 register-call">
        <p class="register-call"><a href="{{ url_for('create_account') }}">Get your account now!</a></p>
        <p class="center">&hellip;or <a href="{{ url_for('signin') }}">sign in here</a></p>
    </div>

    <div class="center">
        <img src="{{ url_for('static', filename='screenshot1.png') }}" class="home-screenshot" />
    </div>

{% endblock %}
