{% macro book_card(book) %}
<div class="book-card">
    <p class="title"><a href="{{ book.url }}" target="_blank">{{ book.title }}</a></p>
    <p class="author">by {{ book.author }}</p>
    <p class="sets">Sets:
    {% for set in book.sets %}
        <a href="{{ url_for('view_set', set_id=set.id) }}">{ {{ set.title }} }</a>
    {% endfor %}
    <p><a href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a></p>
</div>
{% endmacro %}

{% macro list_to_string(list) %}
{% if list|length == 1 %}
    <em>{{ list[0] }}</em>
{% else %}
    {% for item in list[:-1] %}
        <em>{{ item }}</em>
        {{ ", " }}
    {% endfor %}
    and
    <em>{{ list[-1] }}</em>
{% endif %}
{% endmacro %}
