{%- from "macros.html" import book_card with context -%}
{% extends "layout.html" %}

{% block body %}
<div class="row header">
    <img src="{{ current_user.get_gravatar_url() }}" /><span class="welcome">It's great to see you again!</span>
</div>
<div class="row">
    <div class="col-5">
        <h2><small>You are</small><br>Excited<br><small>about&hellip;</small></h2>
        <hr>
        {% for book in books_excited %}
            {{ book_card(book) }}
        {% endfor %}
    </div>
    <div class="col-11">
        <h2><small>Your</small><br>Archive<br><small>contains&hellip;</small></h2>
        <hr>
        {% for book in current_user.books %}
            {{ book_card(book) }}
        {% endfor %}
    </div>
</div>
{% endblock %}
