{% extends "app_layout.html" %}

{% block body %}
<form action="{{ url_for('add_book') }}" method="POST">
    <input type="text" name="title" placeholder="{% if current_user.books.all()|length %}title{%else %}click here to enter the title{% endif %}" /><br>
    <input type="text" name="author" placeholder="author"/><br>
    <input type="text" name="url" placeholder="url (optional)" /><br>
    <input type="text" name="sets" placeholder="{% if current_user.get_sets()|length %}{sets}{%else %}sets: {Harry Potter} {Magic}{% endif %}" /><br>

    <br>

    <div>
        <input type="checkbox" id="exciting" name="exciting" class="switch" />
        <label for="exciting">Exciting</label><br><br>
    </div>

    <div>
        <input type="checkbox" id="reading" name="reading" class="switch" />
        <label for="reading">Reading</label><br><br>
    </div>

    <div>
        <input type="checkbox" id="finished" name="finished" class="switch" />
        <label for="finished">Finished</label>
    </div>

    {{ form.csrf_token }}

    <br>
    <br>
    <input type="submit" value="Add book" />
</form>
{% endblock %}
