@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);


body {
    font-size: 16px;
    font-family: "Crimson Text", serif;
    color: #444;
}

h1, h2 {
    color: #222;
}

h1 {
    font-size: 3.8em;
    margin: 30px 0;
}

h2 {
    font-size: 2.8em;
    line-height: .7em;
    margin: 15px 0;
}

h2 small {
    font-size: .5em;
    font-style: italic;
}

p {
    line-height: 1.56em;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a:link,
a:visited,
a:hover {
    color: #e54a4f;
    text-decoration: none;
    border-bottom: 1px dotted;
}

form, form input {
    font-size: 2em;
    margin: .2em;
    font-family: "Crimson Text", serif;
}

form input[type=text],
form input[type=password]{
    max-width: 90%;
    border: none;
    border-radius: 7px;
    color: #444;
}

form input[type=submit] {
    font-size: .7em;
    padding: .7em;
    background: #2ECC71;
    color: #FFF;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
    position: relative;
    float: left;
    line-height: 1.4em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #e54a4f;
	border-radius: 0.3em;
	-webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
}

input.switch:checked ~ label:before
{
    background: #2ECC71;
}

input.switch:checked ~ label:after
{
	margin-left: 2.1em;
}

.book-card {
    padding: 10px 0;
    line-height: 1.2em;
    border-bottom: 1px dashed #e54a4f;
}

.book-card .title {
    font-style: italic;
}

.book-card .author {
    padding-left: 5px;
}

.nav-link {
    font-size: 2em;
    border: none;
    color: #444;
    line-height: 2em;
}

.nav-active {
    color: #e54a4f;
}

#navigation {
    padding-left: 2%;
}

#branding-text {
    font-size: 3em;
    color: #e54a4f;
}
